server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/api/customers/**
        - id: policy-service
          uri: lb://policy-service
          predicates:
            - Path=/api/policies/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
cors:
  config:
    allowed:
      origin: http://localhost:3000
